<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDb" connectionString="Data Source=pkc-mobdb01;Initial Catalog=Email;User Id=chuck;Password=Is our children learning?;"/>
  </connectionStrings>
  <appSettings>
    <add key="test" value="hello there"/>
  </appSettings>
</configuration>